.c-person-list {
    padding-bottom: 56px;
}

.c-person-list__summary {
    background-color: #f4f4f4;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.c-person-list__list {
    padding: 0 10px;
}

.c-person-list__list li {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
}

.c-person-list__footer {
    padding: 24px;
    text-align: center;
}

button {
    background: #1890ff;
    border: 1px solid #1890ff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 48px;
    outline: 0;
    padding: 8px 32px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
}
